<template lang="html">
  <div class="slider">
    <h1>{{ this.$attrs['data-title'] }}</h1>
    <ul class="slides" :style="width + left">
      <slot></slot>
    </ul>
    <slider-menu></slider-menu>
  </div>
</template>

<script>
import SliderMenu from './SliderMenu'

export default {
  data () {
    return {
      currentID: 0,
      timer: false,
      selected: false
    }
  },
  components: {
    SliderMenu
  },
  computed: {
    width () {
      return 'width: ' + (this.$attrs['data-slidesNumber'] * 100 ) + '%;'
    },
    left () {
      return 'left: '+ (-this.currentID * 100) +'%;'
    },
  },
  methods: {
    show (id) {
      this.currentID = id
    },
    next () {
      this.currentID++
      if (this.currentID > this.$parent.slides.length -1) {
        this.currentID = 0
      }
    },
    previous () {
      this.currentID--
      if (this.currentID < 0) {
        this.currentID = this.$parent.slides.length - 1
      }
    },
    play () {
      if (!this.timer) {
        this.timer = setInterval(this.next, this.$attrs['data-duree'])
        this.selected = true
      }
    },
    stop() {
      if (this.timer) {
        clearInterval(this.timer);
        this.timer = false
        this.selected = false
      }
    },
  }
}
</script>

<style lang="scss" scoped>
* {
box-sizing: border-box;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-family: 'Playfair Display', serif;
  &.fullsize {
    height: 100vh;
    background: #333;
  }
  h1 {
    font-family: 'Damion', cursive;
    position: absolute;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #000;
    top: .5em;
    left: .8em;
    font-size: 4em;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  ul.slides {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: left 300ms ease;
  }
}
</style>
