<template lang="html">

  <div class="slider-menu" :class="{ visible: hover }">

    <ul class="navigation">
      <li><a href="#" @click.prevent="$parent.previous()"><i class="fas fa-backward"></i></a></li>
      <li><a href="#" @click.prevent="$parent.stop()" :class="{activate:$parent.selected == false}"><i class="fas fa-pause"></i></a></li>
      <li><a href="#" @click.prevent="$parent.play()" :class="{activate:$parent.selected == true}"><i class="fas fa-play"></i></a></li>
      <li><a href="#" @click.prevent="$parent.next()"><i class="fas fa-forward"></i></a></li>
    </ul>

    <ul class="slides" @mouseover="hover = true" @mouseleave="hover = false" >
      <li v-for="slide in slides">
        <a href="#" @click.prevent="$parent.show(slide.id)" :class="{'active' : slide.id == $parent.currentID}">
          <img :src="slide.src" :alt="slide.alt">
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slides: this.$parent.$parent.slides,
      hover: false,
    }
  },
}
</script>

<style lang="scss" scoped>
.slider-menu {
  position: relative;
  bottom: -160px;
  transition: all 1s ease-out;

  ul.slides {
    position: absolute;
    bottom: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: auto;
    width: 100%;
    img {
      height: 20vh;
      filter: brightness(.3);
      border: 0px solid transparent;
    }
    a:hover img {
      filter: brightness(1);
      border: 2px solid #FFF;
    }
    a.active img {
      filter: brightness(.7);
      border: 2px solid #FFF;
    }

  }
  ul.navigation {
  list-style: none;
  padding: 0;
  display: flex;
  position: absolute;
  left: calc(50% - 100px);
  bottom: 180px;
    li a {
      display: block;
      padding: .5em;
      color: #fff;
      opacity:0.5;
      text-shadow: 2px 2px 3px #000;
      text-decoration: none;
      &:hover {
        color: #fff;
        opacity: 1;
      }
      i {
        font-size: 2em;
      }
    }
    .activate {
      color: #fff;
      opacity: 1;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    height: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
}
.visible {
  bottom: 10px;
}

</style>
