<template lang="html">

    <li class="slide" :class="classSlide" >
      <!-- slot contient chaque figure -->
      <slot></slot>
      <!-- <a href="#" class="icon icon-info" @click.prevent="open= !open">Infos</a> -->
      <div class="iconeInfo" v-bind:class="[isActive ? 'show' : 'hide']" @click="toggleClass()" @click.prevent="open= !open">
        <i class="fas fa-info-circle"></i>
      </div>
      <div class="iconeInfo" v-bind:class="[isActive ? 'hide' : 'show']" @click="isActive = !isActive" @click.prevent="open= !open">
        <i class="far fa-times-circle"></i>
      </div>
    </li>

</template>

<script>
export default {
  data () {
    return {
      open: false,
      isActive: true
    }
  },
  methods: {
    toggleClass: function(event){
       if(this.isActive){
         this.isActive = false;
       }
       else{
         this.isActive = true;
       }
    },
  },
  computed: {
    classSlide () {
      return (this.open)?'open':'';
    }
  }
}
</script>

<style lang="scss" scoped>
* {
box-sizing: border-box;
}
.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  .iconeInfo {
    position: absolute;
    top : 0.8em;
    right : 1em;
    z-index: 999;
    color: #fff;
    font-size: 3em;
    text-shadow: 1px 1px 2px #000;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  figure {
    margin: 0;
    font-size: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      right: 0;
      transition: right .3s ease;
    }
    figcaption {
      position: absolute;
      right: -20%;
      top: 0;
      width: 20%;
      height:100vh;
      background: rgba(0,0,0,.7);
      padding: 8em 2em 2em;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 1.1rem;
      transition: right .3s ease;
      overflow: auto;
    }
  }
  &.open {
    figcaption {
      right: 0;
    }
    // a.icon, img {
    //   right: 20%;
    // }
  }
}
</style>
