<template>
  <div id="app" class="">
    <slider data-title ="Galerie Vue.js" data-duree="2000" :data-slidesNumber="slides.length">
      <slide v-for="slide in slides">

        <figure>
          <img :src="slide.src" :alt="slide.alt" />
          <figcaption>{{ slide.info }} - {{ slide.alt}}</figcaption>
        </figure>

      </slide>
    </slider>
  </div>
</template>

<script>
import Slider from './components/galerie/Slider'
import Slide from './components/galerie/Slide'
import data from './data.js'

export default {
  name: 'app',
  data () {
    return {
      slides: data.slides
    }
  },
  components : {
    Slider,
    Slide
  },
}
</script>

<style>

</style>
